<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990040256661-cfa0p976ulqle7b5derpi8889blunl2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990040256661-cfa0p976ulqle7b5derpi8889blunl2s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>990040256661-33h0vv9lds234kf5s3k024prf5cultrh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxDPTPHFIBNVqKYrNgHKLFsRmen3S44UY</string>
	<key>GCM_SENDER_ID</key>
	<string>990040256661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dysperse.app</string>
	<key>PROJECT_ID</key>
	<string>dysperse</string>
	<key>STORAGE_BUCKET</key>
	<string>dysperse.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990040256661:ios:a3edc0e21789c440116b9c</string>
</dict>
</plist>